@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'CabinetGrotesk-Thin';
  src: url('../public/fonts/CabinetGrotesk-Thin.otf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Extralight';
  src: url('../public/fonts/CabinetGrotesk-Extralight.otf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Light';
  src: url('../public/fonts/CabinetGrotesk-Light.otf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Regular';
  src: url('../public/fonts/CabinetGrotesk-Regular.otf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Medium';
  src: url('../public/fonts/CabinetGrotesk-Medium.otf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Bold';
  src: url('../public/fonts/CabinetGrotesk-Bold.otf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Extrabold';
  src: url('../public/fonts/CabinetGrotesk-Extrabold.otf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Black';
  src: url('../public/fonts/CabinetGrotesk-Black.otf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: 'Inter';
}

.hero {
  mask-image: linear-gradient(
    90deg,
    transparent 0%,
    white 20%,
    white 80%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 0%,
    white 20%,
    white 80%,
    transparent 100%
  );
}

.loader {
  width: 22px;
  height: 22px;
  border: 3px solid #cecece;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  box-sizing: border-box;
}
.loader::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  inset: -2.8px;
  border-radius: 50%;
  border: 3px solid #fff;
  animation: prixClipFix 2s linear;
  animation-delay: 0.8s;
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

div,
button,
a {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}
