/* //BODY */
body {
  width: 22rem;
  margin: 0;
  max-width: fit-content;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: #171717;
}

::-webkit-scrollbar {
  display: none;
}

/* HEADER */
.header {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header_log img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.online {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  border: #5938fd 1px solid;
  border-radius: 1rem;
  color: #5a38fd;
  font-size: 0.8rem;
  font-weight: 500;
}

.online .dot {
  height: 10px;
  width: 10px;
  background-color: #5a38fd;
  border-radius: 50%;
  display: inline-block;
}

.address p {
  margin: 0;
  padding: 0.5rem 1rem;
  border: #5938fd 1px solid;
  border-radius: 1rem;
  color: #5a38fd;
  font-size: 0.8rem;
}

.online p {
  line-height: 0.5;
  margin: 0;
}

#heading {
  text-align: center;
  color: #5a38fd;
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
  margin-bottom: 1rem;
}

.home_des {
  color: #333;
  z-index: 10;
}

p span {
  color: #333;
}

div p {
  color: #333 !important;
}

.header_network p {
  border: 1px solid #5a38fd;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
  background-color: #fefefe;
  transition: all 0.2s ease-in-out;
  border-radius: 1rem;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.header_network p:hover {
  background-color: #5938fd10;
}
/* //NETWORK */

.network {
  display: none;
  position: absolute;
  background-color: #fefefe;
  width: fit-content;
  z-index: 100;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.network_title {
  font-size: 1.3rem;
  border-bottom: 1px solid #ccc;
}

.network_item {
  padding: 1rem 2rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
  margin: 0;
  cursor: pointer;
  place-content: start;
  border-bottom: 1px solid #ccc;
}

.network_item:hover {
  background-color: #5938fd10;
}

/* //HOME SCREEN */

.home_screen_signup {
  text-align: center;
  padding: 2rem;
  display: none;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.home_screen_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.home_title {
  color: #5a38fd;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 1rem;
}

.home_title_1 {
  color: #5a38fd;
  font-size: 1.1em;
  cursor: pointer;
  margin-bottom: 1rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.home_title_1:hover {
  color: #4928dc86;
}

.connectWallet {
  width: 100%;
}

.home_screen_login {
  text-align: center;
  padding: 1rem 2rem;
  display: block;
  border-radius: 8px;
}

.create_popUp {
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  display: none;
  color: #5a38fd;
  text-align: center;
}

/* //FORM  */

.transfer_form {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 0.4em;
  margin-top: 1rem;
}

.create_popUp .form {
  margin: 0 auto;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  outline: none;
  color: white;
  background-color: #fefefe;
}

.form {
  position: relative;
}

#goBack,
#close_import_account,
#goBack_import {
  position: absolute;
  top: -50px;
  left: -20px;
  margin: 1rem;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0.5rem;
  border: 1px solid #5938fd;
}

#goBack:hover,
#close_import_account:hover {
  background-color: #5938fd10;
}

.field:hover {
  border: 1px solid #5938fd;
}

.field:focus {
  border: 1px solid #5938fd;
}

.field:active {
  border: 1px solid #5938fd;
}

.input-icon {
  height: 1.5em;
  width: 1.5em;
  fill: #5a38fd;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #333;
  padding: 0.5rem;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.6rem 1.5rem;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin: 0.5rem 0;
  background-color: #5a38fd;
  border: none;
  outline: none;
  color: #fefefe;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.button1:hover {
  background-color: #4a28dc;
}

.button2 {
  padding: 0.6rem 1.5rem;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin: 0.5rem 0;
  background-color: #5a38fd;
  border: none;
  outline: none;
  color: #fefefe;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.button2:hover {
  background-color: #4a28dc;
}

.button3 {
  border-radius: 5px;
  padding: 0.6rem 1.5rem;
  margin: 1rem 0rem;
  background-color: #5a38fd;
  border: none;
  outline: none;
  color: #fefefe;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

#sign_up {
  margin-bottom: 0;
}

.button3:hover {
  background-color: #d4f717;
  color: #5a38fd;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
}

.card2 {
  overflow: hidden;
  border-radius: 0;
  transition: all 0.2s;
}

/* notification */
small,
p {
  color: #fefefe;
  text-align: center;
}

a {
  text-decoration: none;
  color: #5a38fd;
  display: none;
}

textarea {
  resize: none;
}

.space {
  margin-top: 0.3rem;
}

/* //LOADER */

.center {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.loader {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

/* //LOADER */

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}

/* //HOME PAGE */

.home {
  margin: 0 auto;
  text-align: center;
  padding: 1rem 2rem;
  display: none;
}

.home_header {
  display: flex;
  justify-content: space-between;
}

#accountBlance {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.home_header_img {
  margin-top: 1rem;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  object-fit: cover;
}

.home_features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.home_features_img {
  margin-top: 1rem;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0.5rem;
  border: 1px solid #5a38fd;

  cursor: pointer;
}

.home_features_img:hover {
  background-color: #5938fd10;
}

.home_feature_item > p {
  font-size: 0.8rem;
  line-height: 0;
  color: #5a38fd;
}

.home_tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}

#open_assets,
#open_activity {
  padding: 0.5rem 1rem;
  border: #5938fd 1px solid;
  border-radius: 1rem;
  color: #5a38fd;
  font-size: 0.8rem;
  font-weight: 500;
  width: fit-content;
  cursor: pointer;
}

#open_assets:hover,
#open_activity:hover {
  background-color: #5938fd10;
}

#logout {
  padding: 0.5rem 1rem;
  border: #5938fd 1px solid;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  width: fit-content;
  border-radius: 5px;
  padding: 0.6rem 1.5rem;
  margin: 1rem 0rem;
  background-color: #5a38fd;
  border: none;
  outline: none;
  color: #fefefe !important;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

#logout:hover {
  background-color: #d4f717;
  color: #5a38fd !important;
}

/* //ASSETS */

.assets_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: 2rem;
  border-top: 1px solid #5a38fd;
  padding: 1rem 0;
}

.assets_item_img {
  width: 20px;
  height: 20px;
  border: 1px solid #5a38fd;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.assets_item * {
  font-size: 0.8rem;
  color: #5a38fd;
  border: 1px solid #5a38fd;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#transfer_form,
#import_account,
#import_token {
  padding: 2rem 3rem;
}

#transferFund {
  margin-top: 0;
}

.activity {
  display: none;
}
.import_token {
  display: none;
}
.goBack {
  width: 50px;
  height: 50px;
  list-style: 0;
}

.accountData {
  word-wrap: break-word;
}

.accountData {
  display: none;
}

#goHomePage {
  display: none;
}

.import_account {
  display: none;
}
.lists {
  display: grid;
  grid-template-columns: 0.1fr 5fr;
  border-bottom: 1px solid #5a38fd;
  align-items: center;
}

/* //CHECK BOX */

.toggle-container {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 24px;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 12px;
  transition: background-color 0.2s;
}

.toggle-inner {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.2s;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #4caf50;
}

.toggle-checkbox:checked + .toggle-label .toggle-inner {
  left: 23px;
}

#notification {
  border: none;
}

.fa-bell {
  color: #5a38fd;
}
